# .NET 7 Class Library

# Visual Studio / Visual Studio for Mac
.vscode/
.vs/

# Rider
.idea/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# NuGet Packages
*.nuget.props
*.nuget.targets

# .NET Sdk
project.lock.json
project.fragment.lock.json
artifacts/

# Tye
.tye/

# User-specific files
*.rsuser
*.suo
*.userosscache
*.user
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Ll]ogFiles/

# User-specific files
*.rsuser
*.suo
*.userosscache
*.user